@model List<Item>;

<div class="container mt-5">
    <div class="row">
        @if (Model != null)
        {
            @foreach (var i in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4" asp-action="Info" asp-route-id="@i.Id">
                    <div class="card shadow" style="width: 100%;">
                        <img class="card-img-top mx-auto d-block img-fluid" src="@i.Image" alt="Card image cap" style="width: 65%;">
                        <div class="card-body text-left">
                            <h5 class="fw-normal">@i.Title</h5>
                            <h6 class="fw-medium"><strong>@i.Price</strong></h6>
                            <p class="card-text fw-light">@i.Category?.Name</p>
                            <p class="card-text fw-light">@i.Address</p>
                            <p class="card-text fw-light">@i.Time</p>
                        </div>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@i.Id">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No items to display.</p>
        }
    </div>
</div>
